
/* Add this to your stylesheet or in a <style> tag in your HTML */
.btn.inactive {
    pointer-events: none;
    opacity: 0.5; /* Adjust the opacity to your preference */
    cursor: not-allowed;
}
body {
    padding-top: 60px; /* Adjust the value based on your navbar height */
}

/* Add this to your existing style.css or in the head section of your HTML */
.contact-link {
    color: #007bff; /* Link color */
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth transition on hover */
}

.contact-link:hover {
    color: #0056b3; /* Hover color */
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light gray background color */
    color: #343a40; /* Text color */
  }

  .navbar {
    padding: 1rem; /* Add padding to navbar items */
  }

  .navbar-nav .nav-link {
    color: #ffffff; /* Navbar link color */
  }

  .navbar-nav .nav-link:hover {
    color: #f8f9fa; /* Navbar link color on hover */
  }

  section {
    padding: 3rem 0; /* Add padding to sections */
  }

  footer {
    background-color: #343a40; /* Dark background color for footer */
    color: #ffffff; /* Text color for footer */
    padding: 1rem;
  }

 

  .contact-link:hover {
    color: #0056b3; /* Contact link color on hover */
  }
   /* Style to position the video as a background */
   .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
    z-index: -2; /* Set a lower z-index to place it behind the content */
}
nav ul a {
  transition-property:color ;
}
nav ul a{
  color: red;
}

/* .has-submenu ::after{
  transition-property:opacity;
} */
nav ul a {
  transition-duration:var(--def-transtion-duration);
  transition-timing-function: ease-in-out;
}

/* .scroll-watcher{
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: lime;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll;
}
@keyframes scroll-watcher{
  to {
    scale:1 1;
  }
} */
.navbar-nav a {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.navbar-nav a:hover {
  opacity: 0.5;
}

.navbar-brand,
.navbar-nav a {
    font-style: italic;
}
